
<div class="services-list">
  <div class="container">
  <div class="row">


      <div class="col-md-3 col-sm-6 text-center margin-cards">
          <i class="fas fa-chart-line big-icons"></i>
          <h5>Software As A Service</h5>
          <p>Octopi is hosted on the cloud so that you don't have to buy and manage your own servers.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
        <i class="fas fa-lightbulb big-icons"></i>
          <h5>Business Intelligence</h5>
          <p>We help you make sense of all your data using our built-in Business Intelligence dashboard.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
          <i class="fas fa-cogs big-icons "></i>
          <h5>Easy To Use</h5>
          <p>Octopi is intuitive and easy to learn. We can train your whole team in a few hours.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
        <i class="far fa-handshake big-icons"></i>
          <h5>Lightning Fast</h5>
          <p>Nobody likes to wait for webpages to load so we've made Octopi lightning fast and responsive.</p>
      </div> <!-- end -->

    </div> <!-- end row -->
  </div>
</div>
