<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="" alt="Mon Super Logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Contact Me</a>
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->

    <!-- Profile picture with dropdown list -->
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://source.unsplash.com/random');">
  <div class="banner-content">
    <h1>Transparent, Original, Smart.</h1>
    <p> Freelance Full Stack Developper based in Bordeaux, France</p>
    <a class="btn btn-primary btn-lg"> Contact me</a>
  </div>
</div>


https://octopi.co/
class clickable : cursor: pointer
AJAX

colors :
#1b6ee9
#4aa3df
#555555
#2b2c2d
#aaaaaa



<div class="services-list">
  <div class="container">
  <div class="row">


      <div class="col-md-3 col-sm-6 text-center margin-cards">
          <i class="fas fa-chart-line big-icons"></i>
          <h5>Software As A Service</h5>
          <p>Octopi is hosted on the cloud so that you don't have to buy and manage your own servers.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
        <i class="fas fa-lightbulb big-icons"></i>
          <h5>Business Intelligence</h5>
          <p>We help you make sense of all your data using our built-in Business Intelligence dashboard.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
          <i class="fas fa-cogs big-icons "></i>
          <h5>Easy To Use</h5>
          <p>Octopi is intuitive and easy to learn. We can train your whole team in a few hours.</p>
      </div> <!-- end -->

      <div class="col-md-3 col-sm-6 text-center margin-cards">
        <i class="far fa-handshake big-icons"></i>
          <h5>Lightning Fast</h5>
          <p>Nobody likes to wait for webpages to load so we've made Octopi lightning fast and responsive.</p>
      </div> <!-- end -->

    </div> <!-- end row -->
  </div>
</div>
